<div class="jumbotron">
  <p>
    <a class="btn btn-primary btn-large" href="#">Body of Text</a>
  </p>

  <div [froalaEditor]='options'>
    <p>Speak is a software application built by Speak AI Inc. that uses artificial intelligence to extract valuable information from video, audio and text to help people and teams communicate better. For audio and video, Speak users can record, upload, and instantly transcribe files to analyze them for insights. Speak then creates an embeddable interactive player for users to navigate recordings by their main keywords, topics, speakers, and tones. For text, Speak&rsquo;s word editor helps users create content while getting real-time feedback on their tone, personality and clarity.&nbsp;</p>

    <p>Speak is perfect for creating and improving written content including emails, blog posts, and social media posts or while preparing presentations and speeches. Every document analyzed by Speak gets added to the user&#39;s personalized cloud dashboard. Users get access to a searchable library of their meetings, presentations, phone calls, and original content. Speak users can privately and securely share notes through links and email, or they can easily paste text or embed Speak&#39;s interactive player on websites for better marketing performance.&nbsp;</p>

    <p>People use Speak&#39;s feedback and recommendations to gain awareness of their speech, tone, personality, and clarity so they can communicate better, create more effective content, and succeed both professionally and personally. Teams use Speak to document and analyze their organization&#39;s internal and external communication including meetings, phone calls, and content so they can improve operations, customer service, and marketing. Access a new form of communication intelligence with Speak</p>
  </div>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary btn-analyze " (click)="anaylyzeText()">
      Analyze
    </button>
  </div>

</div>
<div class="row">
  <div class="col-md-12">
    <app-results [showResults]="isTextAnalyzed"></app-results>
  </div>
</div>
