<div class="container-fluid">
  <div class="main row">

    <!-- Nav -->
    <div class="nav-container col-md-2">
      <div class="page-header">
        <h1 class="logo">
          Speak
        </h1>
      </div>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">All Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Video</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Audio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Text</a>
        </li>
      </ul>
    </div>

    <!-- Analyzer -->
    <div class="col-md-10">
      <app-analyzer></app-analyzer>
    </div>
  </div>
</div>
