* {
  font-family: 'Poppins', sans-serif !important;
}

.nav-link {
  color: white;
}

.logo {
  font-weight: bold;
  padding-top: 15px;
}

.nav-link.active {
  color: #524646;
}

.nav-container {
  background-color: #2ecc40;
}

.main.row {
  height: 100vh;
}
